{% extends 'layouts/index.html' %}
{% load static %}
{% block content %}

<section class="container py-5">
  <h1 class="fw-bold mb-4">Keranjang Saya</h1>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <div class="table-responsive">
  <table class="table table-bordered align-middle">
    <thead>
      <tr>
        <th class="text-center align-middle">
          <div class="d-flex justify-content-center align-items-center">
            <input type="checkbox" id="select-all" title="Pilih Semua">
          </div>
        </th>
        <th>Produk</th>
        <th>Harga</th>
        <th>Jumlah</th>
        <th>Subtotal</th>
        <th>Aksi</th>
      </tr>
    </thead>

    <tbody>
      {% for item in cart.items.all %}
      <tr id="cart-row-{{ item.id }}">
        <td class="text-center align-middle">
          <div class="d-flex justify-content-center align-items-center">
            <input type="checkbox"
                   class="item-checkbox"
                   data-id="{{ item.id }}">
          </div>
        </td>

        <td>{{ item.product.name }}</td>

        <td>Rp {{ item.product.formatted_price }}</td>

        <td class="text-center">
          <div class="d-flex align-items-center gap-2">
            <button type="button"
                    class="btn btn-sm btn-outline-secondary py-0 px-2 btn-ubah-qty"
                    data-id="{{ item.id }}"
                    data-aksi="kurang">-</button>

            <span class="fw-bold px-1" id="qty-{{ item.id }}">{{ item.quantity }}</span>

            <button type="button"
                    class="btn btn-sm btn-outline-secondary py-0 px-2 btn-ubah-qty"
                    data-id="{{ item.id }}"
                    data-aksi="tambah">+</button>
          </div>
        </td>

        <td id="subtotal-{{ item.id }}">
          Rp {{ item.formatted_subtotal }}
        </td>

        <td>
          <button type="button"
                  class="btn btn-sm btn-danger btn-hapus-item"
                  data-id="{{ item.id }}"
                  data-nama="{{ item.product.name }}">
            Hapus
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

  <form method="POST" action="{% url 'checkout' %}" id="form-checkout" class="d-flex justify-content-end">
    {% csrf_token %}
    <div id="hidden-inputs"></div>
    <button type="submit" id="btn-checkout" class="btn btn-primary" disabled>
        Check Out
    </button>
</form>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="{% static 'js/cart/cart.js' %}" defer></script>

{% endblock content %}